# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

app/node_modules
app/dist
app/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Scraper
app/scripts/scraper/node_modules
cfa_fixtures.json
changes.json

# GitHub Actions notification scripts
.github/scripts/node_modules

# Test coverage
app/coverage
*.lcov
