<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="nav col-md-12 align-items-center justify-content-center d-flex legend-title" data-label="legend.title">Υπόμνημα</div>
        <ul class="nav col-md-12 align-items-center justify-content-center d-flex">
            <li class="ms-3 legend-item">
                <span class="legend-icon" data-label-html="icons.footballMen">👨⚽</span>
                <span data-label="sports.footballMen">Ανδρικό Ποδόσφαιρο</span>
            </li>
            <li class="ms-3 legend-item">
                <span class="legend-icon" data-label-html="icons.volleyballMen">👨🏐</span>
                <span data-label="sports.volleyballMen">Ανδρικό Βόλεϊ</span>
            </li>
            <li class="ms-3 legend-item">
                <span class="legend-icon" data-label-html="icons.volleyballWomen">👩🏻🏐</span>
                <span data-label="sports.volleyballWomen">Γυναικείο Βόλεϊ</span>
            </li>
        </ul>
    </footer>
</div>
